<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 <suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test">
	  <parameter name="Browser" value="Chrome"></parameter>
		<classes>
			
			<class name="myInfo.login" />
			<class name="myInfo.Setup" />
			<class name="myInfo.PersonalDetails" />
			<class name="myInfo.ContactDetails" />
			<class name="myInfo.Dependents" />
			<class name="myInfo.EmergencyContact" />
			<class name="myInfo.Immigration" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
